Repository reidlai/cloudedge-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-provider-check, pip-audit, govulncheck, gosec, opentofu_fmt, opentofu_validate, opentofu_tflint

terraform-provider-check:
  name: Terraform SCA (Provider Version Check)
  description: Check for outdated Terraform providers
  ...

pip-audit:
  name: Python SCA (pip-audit)
  description: Scan Python dependencies for known vulnerabilities
  entry: bash -c 'if command -v pip-audit &> /dev/null; then pip-audit --desc --format=text; else echo "INFO pip-audit not installed. Install with poetry add --group dev pip-audit"; exit 0; fi'
  ...

govulncheck:
  name: Go SCA (govulncheck)
  description: Scan Go dependencies for known vulnerabilities
  entry: bash -c 'if command -v govulncheck &> /dev/null; then govulncheck ./...; else echo "INFO govulncheck not installed. Install with go install golang.org/x/vuln/cmd/govulncheck@latest"; exit 0; fi'
  ...

gosec:
  name: Go SAST (gosec)
  description: Security scanner for Go code (detects hardcoded secrets, SQL injection, etc.)
  ...

opentofu_fmt:
  name: OpenTofu Format
  description: Rewrites OpenTofu files to canonical format
  entry: tofu fmt -recursive
  language: system
  pass_filenames: false

opentofu_validate:
  name: OpenTofu Validate
  description: Validates OpenTofu configuration files
  entry: bash -c
  args:
  - -c
  ...

opentofu_tflint:
  name: TFLint
  description: Lints OpenTofu files for best practices
  entry: bash -c
  args:
  - -c
  - '# Get repo root for absolute config path
  
    REPO_ROOT=$(git rev-parse --show-toplevel)
  
    tflint --config="${REPO_ROOT}/.tflint.hcl" --call-module-type=all --recursive
  
    '
  language: system
  ...

feat: implement ci
  .github/CI_QUICK_REFERENCE.md
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Due: none

fix: missing CI workflow
  .github/workflows/ci.yml
Due: none

fix: ci pipeline error
  .github/workflows/ci.yml
Due: none

fix: syntax error with an unescaped quote in ci workflow
  .github/workflows/ci.yml
Due: none

fix: remove invalid control characters from ci.yml workflow file
  .github/workflows/ci.yml
Due: none

fix: remove npm cache from Node.js setup in CI workflow
  .github/workflows/ci.yml
Due: none

fix: resolve govulncheck and TFLint failures in pre-commit hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

refactor: remove redundant OpenTofu validation from CI workflow
  .github/workflows/ci.yml
Due: none

fix: use local backend for OpenTofu Plan in CI
  .github/workflows/ci.yml
Due: none

refactor: remove redundant OpenTofu Plan job from CI
  .github/workflows/ci.yml
Due: none

refactor: remove redundant Post PR Comment job from CI
  .github/workflows/ci.yml
Due: none

fix: make opentofu scripts more generic
  .checkov.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .terraformignore
  README.md
  fix-precommit-issues.sh
  main.tf
  modules/gcp/billing/main.tf
  modules/gcp/billing/variables.tf
  modules/gcp/cdn/main.tf
  modules/gcp/cdn/variables.tf
  modules/gcp/demo_backend/main.tf
  modules/gcp/demo_backend/variables.tf
  modules/gcp/dr_loadbalancer/main.tf
  modules/gcp/dr_loadbalancer/variables.tf
  modules/gcp/egress_vpc/main.tf
  modules/gcp/egress_vpc/variables.tf
  modules/gcp/firewall/main.tf
  modules/gcp/firewall/variables.tf
  modules/gcp/ingress_vpc/main.tf
  modules/gcp/ingress_vpc/variables.tf
  modules/gcp/self_signed_certificate/main.tf
  modules/gcp/self_signed_certificate/outputs.tf
  modules/gcp/self_signed_certificate/variables.tf
  modules/gcp/waf/main.tf
  modules/gcp/waf/variables.tf
  outputs.tf
  poetry.lock
  pyproject.toml
  scripts/setup-backend.sh
  tests/go.mod
  tests/go.sum
  threat_modelling/RISK_TRACKING_GUIDE.md
  threat_modelling/test-github.yaml
  threat_modelling/threat-model.example.yaml
  threat_modelling/threat-model.yaml
  variables.tf
Due: pip-audit, govulncheck, opentofu_fmt, opentofu_validate, opentofu_tflint

fix: make opentofu scripts more generic
  fix-precommit-issues.sh
  modules/gcp/billing/main.tf
  modules/gcp/billing/variables.tf
  modules/gcp/self_signed_certificate/main.tf
  modules/gcp/self_signed_certificate/outputs.tf
  modules/gcp/self_signed_certificate/variables.tf
  outputs.tf
  pyproject.toml
  threat_modelling/RISK_TRACKING_GUIDE.md
  threat_modelling/test-github.yaml
Due: pip-audit, opentofu_fmt, opentofu_validate, opentofu_tflint

fix: update documentation structure
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/MODULES.md
  docs/QUICKSTART.md
  docs/SECURITY.md
  docs/TESTING.md
Due: none

fix: remove env branch requirement for IaC only project
  README.md
Due: none

fix: rename demo_api to demo_web_app
  features/demo_web_app.feature
  main.tf
  modules/gcp/demo_web_app/main.tf
  modules/gcp/demo_web_app/outputs.tf
  modules/gcp/demo_web_app/variables.tf
  outputs.tf
  tests/integration/gcp/demo_web_app_test.go
  variables.tf
Due: gosec, opentofu_fmt, opentofu_validate, opentofu_tflint

fix: remove invalid control characters from CI workflow
  .github/workflows/ci.yml
Due: none

fix: remove cache parameters for missing dependency files
  .github/workflows/ci.yml
Due: none

fix: remove OpenTofu plan step from CI workflow
  .github/workflows/ci.yml
Due: none

fix: correct bash syntax error in PR comment generation
  .github/workflows/ci.yml
Due: none

fix: add pull request write permissions to PR comment job
  .github/workflows/ci.yml
Due: none

feat: relocate opentofu scripts and enable Google Cloud Certificate Authority
  README.md
  deploy/opentofu/gcp/main.tf
  deploy/opentofu/gcp/modules/gcp/dr_loadbalancer/main.tf
  deploy/opentofu/gcp/modules/gcp/dr_loadbalancer/variables.tf
  deploy/opentofu/gcp/modules/gcp/private_ca/.terraform.lock.hcl
  deploy/opentofu/gcp/modules/gcp/private_ca/main.tf
  deploy/opentofu/gcp/modules/gcp/private_ca/outputs.tf
  deploy/opentofu/gcp/modules/gcp/private_ca/variables.tf
  deploy/opentofu/gcp/modules/gcp/self_signed_certificate/.terraform.lock.hcl
  deploy/opentofu/gcp/modules/gcp/self_signed_certificate/.tflint.hcl
  deploy/opentofu/gcp/modules/gcp/self_signed_certificate/main.tf
  deploy/opentofu/gcp/modules/gcp/self_signed_certificate/outputs.tf
  deploy/opentofu/gcp/modules/gcp/self_signed_certificate/variables.tf
  deploy/opentofu/gcp/variables.tf
  docs/CONFIGURATION.md
  docs/MODULES.md
  features/directory_migration.feature
  tasks.md
  tests/contract/state_migration_test.go
  tests/integration/directory_migration_test.go
Due: gosec, opentofu_fmt, opentofu_validate, opentofu_tflint

feat: Implement Google Managed Private CA (Phase 6)
  deploy/opentofu/gcp/.terraform.lock.hcl
  deploy/opentofu/gcp/main.tf
  deploy/opentofu/gcp/modules/gcp/private_ca/.terraform.lock.hcl
  deploy/opentofu/gcp/modules/gcp/private_ca/main.tf
  deploy/opentofu/gcp/modules/gcp/private_ca/outputs.tf
  deploy/opentofu/gcp/modules/gcp/private_ca/variables.tf
  deploy/opentofu/gcp/variables.tf
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

fix: opentofu scripts error
  deploy/opentofu/gcp/backend.tf
  deploy/opentofu/gcp/main.tf
  deploy/opentofu/gcp/modules/gcp/dr_loadbalancer/main.tf
  deploy/opentofu/gcp/outputs.tf
  deploy/opentofu/gcp/variables.tf
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

fix: infrastructure connection issue
  .opencode/command/speckit.analyze.md
  .opencode/command/speckit.checklist.md
  .opencode/command/speckit.clarify.md
  .opencode/command/speckit.constitution.md
  .opencode/command/speckit.implement.md
  .opencode/command/speckit.plan.md
  .opencode/command/speckit.specify.md
  .opencode/command/speckit.tasks.md
  .opencode/command/speckit.taskstoissues.md
  AGENTS.md
  deploy/opentofu/gcp/environment-specific/.terraform.lock.hcl
  deploy/opentofu/gcp/environment-specific/backend_service.tf
  deploy/opentofu/gcp/environment-specific/cdn_backend.tf
  deploy/opentofu/gcp/environment-specific/cloud_run.tf
  deploy/opentofu/gcp/environment-specific/dns.tf
  deploy/opentofu/gcp/environment-specific/dr_loadbalancers.tf
  deploy/opentofu/gcp/environment-specific/firewall.tf
  deploy/opentofu/gcp/environment-specific/iam.tf
  deploy/opentofu/gcp/environment-specific/main.tf
  deploy/opentofu/gcp/environment-specific/outputs.tf
  deploy/opentofu/gcp/environment-specific/subnets.tf
  deploy/opentofu/gcp/environment-specific/variables.tf
  deploy/opentofu/gcp/environment-specific/vpc_connector.tf
  deploy/opentofu/gcp/environment-specific/vpcs.tf
  deploy/opentofu/gcp/environment-specific/waf_policy.tf
  deploy/opentofu/gcp/project-singleton/apis.tf
  deploy/opentofu/gcp/project-singleton/billing.tf
  deploy/opentofu/gcp/project-singleton/ca_pool.tf
  deploy/opentofu/gcp/project-singleton/cert_manager.tf
  deploy/opentofu/gcp/project-singleton/cert_map.tf
  deploy/opentofu/gcp/project-singleton/dr_loadbalancers.tf
  deploy/opentofu/gcp/project-singleton/firewall.tf
  deploy/opentofu/gcp/project-singleton/iam.tf
  deploy/opentofu/gcp/project-singleton/outputs.tf
  deploy/opentofu/gcp/project-singleton/providers.tf
  deploy/opentofu/gcp/project-singleton/variables.tf
  deploy/opentofu/gcp/project-singleton/waf_policy.tf
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

fix: infrastructure connection issue
  .gitignore
  .markdownlint-cli2.yaml
  .opencode/command/speckit.clarify.md
  .opencode/command/speckit.specify.md
  .opencode/command/speckit.taskstoissues.md
  .pre-commit-config.yaml
  AGENTS.md
Due: none

fix: remove obsolete resources
  deploy/opentofu/gcp/environment-specific/backend_service.tf
  deploy/opentofu/gcp/environment-specific/cloud_run.tf
  deploy/opentofu/gcp/environment-specific/cloudflare_dns.tf
  deploy/opentofu/gcp/environment-specific/dns.tf
  deploy/opentofu/gcp/environment-specific/dr_loadbalancers.tf
  deploy/opentofu/gcp/environment-specific/firewall.tf
  deploy/opentofu/gcp/environment-specific/outputs.tf
  deploy/opentofu/gcp/environment-specific/self_signed_cert.tf
  deploy/opentofu/gcp/environment-specific/variables.tf
  deploy/opentofu/gcp/environment-specific/waf_policy.tf
  deploy/opentofu/gcp/project-singleton/apis.tf
  deploy/opentofu/gcp/project-singleton/ca_pool.tf
  deploy/opentofu/gcp/project-singleton/cert_manager.tf
  deploy/opentofu/gcp/project-singleton/cert_map.tf
  deploy/opentofu/gcp/project-singleton/iam.tf
  deploy/opentofu/gcp/project-singleton/outputs.tf
  deploy/opentofu/gcp/project-singleton/project_logs_bucket.tf
  deploy/opentofu/gcp/project-singleton/root_ca.tf
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

feat: update on project-singleton and demo-vpc
  deploy/opentofu/gcp/demo-vpc/.terraform.lock.hcl
  deploy/opentofu/gcp/demo-vpc/demo-vpc.tf
  deploy/opentofu/gcp/demo-vpc/main.tf
  deploy/opentofu/gcp/demo-vpc/outputs.tf
  deploy/opentofu/gcp/demo-vpc/variables.tf
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

feat: revamp markdown documents
  README.md
  deploy/opentofu/gcp/core/main.tf
  deploy/opentofu/gcp/demo-vpc/main.tf
  deploy/opentofu/gcp/project-singleton/main.tf
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/GCP.md
  docs/MODULES.md
  docs/QUICKSTART.md
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

feat: use Cloudflare WAF and SSL instead of GCP WAF
  README.md
  deploy/opentofu/gcp/core/.terraform.lock.hcl
  deploy/opentofu/gcp/core/core.tf
  deploy/opentofu/gcp/core/main.tf
  deploy/opentofu/gcp/core/outputs.tf
  deploy/opentofu/gcp/core/variables.tf
  deploy/opentofu/gcp/demo-vpc/main.tf
  deploy/opentofu/gcp/project-singleton/.terraform.lock.hcl
  deploy/opentofu/gcp/project-singleton/main.tf
  deploy/opentofu/gcp/project-singleton/outputs.tf
  deploy/opentofu/gcp/project-singleton/project-singleton.tf
  deploy/opentofu/gcp/project-singleton/variables.tf
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/GCP.md
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

feat: add enable_psc variable
  deploy/opentofu/gcp/core/core.tf
  deploy/opentofu/gcp/core/outputs.tf
  deploy/opentofu/gcp/core/variables.tf
  deploy/opentofu/gcp/demo-vpc/demo-vpc.tf
  deploy/opentofu/gcp/demo-vpc/outputs.tf
  deploy/opentofu/gcp/demo-vpc/variables.tf
  tests/go.mod
  tests/go.sum
  tests/integration/directory_migration_test.go
  tests/integration/gcp/go.mod
  tests/integration/gcp/psc_toggle_test.go
Due: govulncheck, gosec, opentofu_fmt, opentofu_validate, opentofu_tflint

feat: optional psc
  README.md
  deploy/opentofu/gcp/core/core.tf
  deploy/opentofu/gcp/core/outputs.tf
  deploy/opentofu/gcp/core/variables.tf
  deploy/opentofu/gcp/demo-vpc/demo-vpc.tf
  deploy/opentofu/gcp/demo-vpc/outputs.tf
  deploy/opentofu/gcp/demo-vpc/variables.tf
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/GCP.md
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

feat: remove shared vpc option (not for public facing)
  README.md
  deploy/opentofu/gcp/core/core.tf
  deploy/opentofu/gcp/core/outputs.tf
  deploy/opentofu/gcp/core/variables.tf
  deploy/opentofu/gcp/demo-vpc/outputs.tf
  deploy/opentofu/gcp/demo-vpc/variables.tf
  deploy/opentofu/gcp/demo-web-app/.terraform.lock.hcl
  deploy/opentofu/gcp/demo-web-app/demo-web-app.tf
  deploy/opentofu/gcp/demo-web-app/main.tf
  deploy/opentofu/gcp/demo-web-app/outputs.tf
  deploy/opentofu/gcp/demo-web-app/variables.tf
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/GCP.md
  docs/MODULES.md
  docs/QUICKSTART.md
Due: opentofu_fmt, opentofu_validate, opentofu_tflint

fix: integration and acceptance tests
  README.md
  docs/TESTING.md
  features/connectivity_patterns.feature
  features/core_infrastructure.feature
  features/demo_web_app.feature
  features/project_singleton.feature
  tests/contract/checkov_test.go
  tests/contract/core_infrastructure_contract_test.go
  tests/contract/demo_web_app_contract_test.go
  tests/integration/directory_migration_test.go
  tests/integration/gcp/cis_compliance_test.go
  tests/integration/gcp/demo_web_app_test.go
  tests/integration/gcp/firewall_source_restriction_test.go
  tests/integration/gcp/firewall_test.go
  tests/integration/gcp/full_baseline_test.go
  tests/integration/gcp/psc_toggle_test.go
  tests/integration/gcp/tagging_test.go
  tests/integration/gcp/teardown_test.go
  tests/integration/gcp/tracing_test.go
  tests/integration/gcp/vpc_test.go
  tests/integration/gcp/waf_cdn_test.go
  threat_modelling/threat-model.example.yaml
  threat_modelling/threat-model.example.yaml.bak
  threat_modelling/threat-model.yaml
Due: gosec

Change project name to 'Cloudedge Template'
  README.md
Due: none

Revise project description in README.md
  README.md
Due: none

Path conditions:
  terraform-provider-check: any of: ^\.terraform\.lock\.hcl$
  pip-audit: any of: ^(pyproject\.toml|poetry\.lock|requirements.*\.txt)$
  govulncheck: any of: go\.(mod|sum)$
  gosec: any of: \.go$, but not: vendor/
  opentofu_fmt: any of: \.tf$
  opentofu_validate: any of: \.tf$
  opentofu_tflint: any of: \.tf$
